.jumbotron {
	text-align:center;
	border-radius: 15px;
}
.jumbotron h1{
	font-size:70px;
}
.glyphicon-fire{
	font-size-:80px;
}
.glyphicon-list-alt {
	font-size:20px;
}
.glyphicon glyphicon-home {
	font-size:30px;
}